
# 2.1 Быстрое введение. Синтаксические основы языка Python

## Задание 1

**Условие:**
Создайте коллекцию данных типа ```tuple``` из элементов различных типов данных.

**Формат ответа:**
Кортеж (например, ```(1,'str',2.7)```)

**Решение:**

In [ ]:
a = (1, 'Hi', 10.6)
print(a)

(1, 'Hi', 10.6)

## Задание 2

**Условие:**
Проверьте на истинность выражения :

*   ```1 > 2```
*   ```3**2 > 2**3```
*   ```'a' < 'b'```
*   ```'c' < 'b'```
*   ```'a' in ['b','a','c']```


**Формат ответа:**
Кортеж из булевых значений (например, ```(True, False, True,False, True)```)

**Решение:**

In [ ]:
'a' < 'b'

True

In [ ]:
1 > 2, 3**2 > 2**3, 'a' < 'b', 'c' < 'b', 'a' in ['b', 'a', 'c']

(False, True, True, False, True)

## Задание 3

**Условие:**
Напишите функцию ```f_abs()``` нахождения модуля числа, которая получает на вход число и возвращает его, если оно положительно, иначе возвращает число с обратным знаком.
Примените ее к числу ```170**2 - 150**3```.

**Формат ответа:**
Число (например, ```-20```)

**Оценка в баллах:** 4 балла

**Решение:**

In [ ]:
def f_abs(number):
  if number >= 0:
      return number
  else:
      return -number
print(f_abs(170**2 - 150**3))

3346100